@import url(resetcss.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@font-face {
	src: url(../font/Geometria.otf);
	font-family: geometria;
}

@font-face {
	src: url(../font/Geometria-Bold.otf);
	font-family: geometria-bold;
}

body {
	background-color: black;
}

.sitebody {
	margin: 10px auto;
	width: 700px;
	box-sizing: border-box;
}

.header {
	
}

.name {
	height: 70px;
	font-family: geometria;
	font-size: 40pt;
	text-transform: uppercase;
	letter-spacing: 3pt;
	color: azure;
}

.photo-main {
	height: 385px;
	background-image: url(../img/photo-main.jpg);
	background-repeat: no-repeat;
	background-position: left;
}

.menu {
	font-family: geometria;
	font-size: 11pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
	color: azure;
}
.link {
	color: aqua;
}
.link:hover {
	color: cornflowerblue;
}
.disabled {
	color: aqua;
	pointer-events: none;
	cursor: default;
}

.main {
	background-color: #333333;
	width: 700px;
	padding: 50px 50px;
	box-sizing: border-box;

}

.heading {
	font-family: geometria-bold;
	font-size: 20pt;
	text-transform: uppercase;
	letter-spacing: 1pt;
	font-weight: bold;
	line-height: 30pt;
	color: azure;
}

.text_bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14pt;
	line-height: 18pt;
	color: azure;
}

.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	line-height: 18pt;
	color: azure;
}

#list {
	margin-bottom: 8pt;
}

.footer {
	width: 700px;
}

.logo {
	height: 160px;
	background-image: url(../img/logo.svg);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center;
}



